.link {
  text-decoration: none;
  color: black;
}

.link_container :hover {
  color: red;
  /* text-decoration: underline; */
}
.link_container {
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
@media (min-width: 650px) and (max-width: 1024px) {
  .navflex {
    display: none;
  }
}
/* .searchbar {
  display: none;
} */
.textbox {
  width: 100%;
  line-height: 2em;
  border: none;
  background-color: #f0f0f5;
}
.icons {
  margin-left: 10px;
  margin-right: 10px;
}
.link_container :hover {
  color: red;
  /* text-decoration: underline; */
}
.carousal_container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  margin-top: 8%;
  }
  .carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
   }
  
   .carousel .slide {
    height: 70vh;
   }
   /* carousal_container */
   @media (min-width: 320px) and (max-width: 488px) {
    .carousal_container {
    margin-top: 16%;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    .carousel .slide {
     height: 50vh;
    }
  }
  
  @media (min-width: 320px) and (max-width: 488px) {
    .carousel .slide {
     height: 30vh;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .carousel .slide {
     height: 30vh;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .carousal_container {
     margin-top: 10%;
    }
  }
   .carousel .slide img{
    max-height: 100%;
    width: 100%;
   }

.image{
    margin: 0 auto;
    height: 100%;
    width: 100%;
   }
   
.afterlogo{
    display: flex;
   }
  
