.link {
  text-decoration: none;
  color: black;
}

.link_container :hover {
  color: red;
  /* text-decoration: underline; */
}
.link_container {
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
@media (min-width: 650px) and (max-width: 1024px) {
  .navflex {
    display: none;
  }
}
/* .searchbar {
  display: none;
} */
.textbox {
  width: 100%;
  line-height: 2em;
  border: none;
  background-color: #f0f0f5;
}
.icons {
  margin-left: 10px;
  margin-right: 10px;
}
.link_container :hover {
  color: red;
  /* text-decoration: underline; */
}
.carousal_container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  margin-top: 8%;
  }
  .carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
   }
  
   .carousel .slide {
    height: 70vh;
   }
   /* carousal_container */
   @media (min-width: 320px) and (max-width: 488px) {
    .carousal_container {
    margin-top: 16%;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1000px) {
    .carousel .slide {
     height: 50vh;
    }
  }
  
  @media (min-width: 320px) and (max-width: 488px) {
    .carousel .slide {
     height: 30vh;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .carousel .slide {
     height: 30vh;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .carousal_container {
     margin-top: 10%;
    }
  }
   .carousel .slide img{
    max-height: 100%;
    width: 100%;
   }

.image{
    margin: 0 auto;
    height: 100%;
    width: 100%;
   }
   
.afterlogo{
    display: flex;
   }
  
   
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: blue transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 7%;
  margin-left: 50%;
}

.loadingText{
  margin-top: 7%;
  margin-left: 50%;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color:yellow transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

::-webkit-scrollbar{
  height: 1px;              
  width: 1px;              
  /* border: 1px solid #d5d5d5; */
}

.hoverzoom{
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
  /* padding: 20px; */
  
}

.hoverzoom:hover
{
  box-shadow: 0px 0px 5px #f75490;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.02);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.02);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.02);
  transition: all 200ms ease-in;
  transform: scale(1.02);
  background-color:black;
  color: white;
}

